.underline-title {
  border-bottom: 4px solid grey;
}

a.hover-color:hover {
  background: lightgray;
  color: teal;
}

/* a.contact-link-color:hover{
  color: teal;
} */

/* a.navbar-burger {
  background: lightgray;
} */